$background: #282a36;
$current_line: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("./assets/fonts/JetBrainsMonoNerdFont-Regular.ttf") format(ttf);
}
